<div class="zuntyan">
<h1>about</h1>


<h3>
  ズンちゃんと申します✨<br>
  今はdmm.webcampというスクールに通っています。<br>
  趣味は真珠を眺めることかなぁ🐬
  チーム開発のみんなで力を合わせて頑張っています🌛<br>
  あだ名はズンちゃんか光の妖精と呼ばれていおりますですですですʕʘ‿ʘʔ
  合言葉はわっしょいです。。。。。。。。。。。</br>
</h3>

<h1>
  <p>似ている芸能人：石原さとみ（知らんけど）</p>
  <p>好きな職業：ゴールドマンサックスですです</p>
  <p>すきな年収：２０００万以上かなぁ</p>
  <p>頑張りましょう❣️！！！</p>
</h1>
</div>