<div class="col-xs-3">
  <h2>ジャンル検索</h2>
  <% @genres.each do |genre| %>
  <div>
    <ul>
      <li><%= genre.genre_name %></li>
    </ul>
  </div>
  <% end %>
</div>

<div>
  <h2>
    ようこそ、NaganoCakeへ！
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、
購入には会員登録が必要になります。
  </h2>
</div>

<div>
  <h3>おすすめ商品</h3>
   <div>
      <%= image_tag 'だーれだ〜.png' %>
      <h5>遠田拓郎</h5>
      <h5>¥500000000000000000000000</h5>
   </div>
</div>